
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Raporlar Sayfası</h1>


<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-primary">Static Rapor İndir</a>
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-warning">Static Misafir Raporu</a>

