@model GetGuideByIDQueryResult
@{
    ViewData["Title"] = "UpdateGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rehber Bilgi Düzenleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="GuideID" class="form-control" /><br />
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control"/><br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" /><br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>