@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api ile ziyaretçi ekleme</h1>
<br />

<form method="post">
    <label>Ad</label>
    <input type="text" class="form-control" asp-for="Name" />
    <label>Soyad</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <label>Mail</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <label>Şehir</label>
    <input type="text" class="form-control" asp-for="City" />
    <label>Ülke</label>
    <input type="text" class="form-control" asp-for="Country" /> <br />
    <button class="btn btn-outline-primary">Ekle</button>
</form>